includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app/
        - database/
        - tests/
    level: 6
    excludePaths:
        - ./*/*/FileToBeExcluded.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Unable to resolve the template type TKey in call to function collect#'
        - '#Unable to resolve the template type TValue in call to function collect#'
